<launch>
  <arg name="datafiles" />
  <arg name="file_prefix" default="" />
  <arg name="output_dir" default="" />
  <arg name="map_prefix" default="$(arg output_dir)" />
  <arg name="match_methods" default="id,hungarian-l1,clear-l1" />
  <arg name="box" default="-50x-50x100x100" />

  <node pkg="sunshine" type="utils.multi_agent_match" output="screen" name="multi_agent_sim" args="replay $(arg datafiles)">
    <param name="output_prefix" value="$(arg output_dir)" />
    <param name="map_prefix" value="$(arg map_prefix)" />
    <param name="file_prefix" value="$(arg file_prefix)" />
    <param name="box" value="$(arg box)" />
    <param name="match_methods" value="$(arg match_methods)" />
  </node>
</launch>
